html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#prompt {
    margin: auto;
}

.canvas {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: auto;
    width: 900px;
    height: 900px;
}

.canvasRow {
    flex: 1;
    display: flex;
}

div[id^='entity'] {
    flex: 1;
}

.entityOn {
    background-color: red;
}